<ion-view view-title="免费注册" hide-tabs>
	<ion-content id="login-cont">
  	<div id="icon-login">
  		<img src="../img/logo/icon-of.png"/>
  	</div>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style="text-align:center;">帐号</span>
          <input type="text" ng-model="loginData.username" placeholder="请输入手机号">
        </label>
         <label class="item item-input">
          <span class="input-label" style="text-align:center;">
          	
          	验证码</span>
          <input type="password" ng-model="loginData.password" placeholder="请输入验证码">
        </label>
        <label class="item item-input">
          <span class="input-label" style="text-align:center;">密码</span>
          <input type="password" ng-model="loginData.password" placeholder="请输入密码">
        </label>
        <label class="item" style="border-bottom: none;">
        	
          <button class="button button-block button-positive" type="submit">注册</button>
        </label>
      </div>
    </form>
    
  </ion-content>
	
</ion-view>